@font-face {
  font-family: "Baloo Tamma";
  src: url("../fonts/BalooTamma2-Regular.woff") format(woff);
  src: url("../fonts/BalooTamma2-Regular.woff2") format(woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}