@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 150px;
  }
}

@media screen and (max-width: 860px) {
  .hero__title {
    font-size: 100px;
    margin-bottom: -10px;
  }
  .header__title {
    max-width: 350px;
    font-size: 45px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 575px) {
  .hero__wrap-text {
    padding-top: 100px;
  }
  .hero__title {
    font-size: 65px;
    margin-bottom: 0;
  }
  .hero__subtitle {
    max-width: 340px;
    font-size: 15px;
  }
  .hero__link-download {
    font-size: 16px;
  }
  .header__title {
    max-width: 260px;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 25px;
    padding-top: 40px;
    padding-left: 25px;
  }
  .header__ul {
    padding-left: 25px;
  }
}

@media screen and (max-width: 860px) {
  .header__bg {
    min-height: 365px;
  }
}

@media screen and (max-width: 575px) {
  .header__bg {
    min-height: 250px;
  }
  .header__li {
    margin-right: 20px;
  }
  .header__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 416px) {
  .header__ul {
    flex-direction: column;
  }
  .header__li {
    margin-right: 0;
    margin-bottom: 6px;
  }
  .header__link {
    font-size: 17px;
  }
}

@media screen and (max-width: 380px) {
  .header__title {
    max-width: 195px;
    font-size: 27px;
  }
}

@media screen and (max-width: 360px) {
  .hero__title {
    font-size: 55px;
  }
  .hero__wrap-text {
    margin-left: 15px;
  }
}