@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 150px;
  }
}

@media screen and (max-width: 860px) {
  .hero__title {
    font-size: 100px;
    margin-bottom: -10px;
  }
  .header__title {
    max-width: 350px;
    font-size: 45px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 575px) {
  .hero__wrap-text {
    padding-top: 100px;
  }
  .hero__title {
    font-size: 65px;
    margin-bottom: 0;
  }
  .hero__subtitle {
    max-width: 340px;
    font-size: 15px;
  }
  .hero__link-download {
    font-size: 16px;
  }
  .header__title {
    max-width: 260px;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 25px;
    padding-top: 40px;
    padding-left: 25px;
  }
  .header__ul {
    padding-left: 25px;
  }
}

@media screen and (max-width: 860px) {
  .header__bg {
    min-height: 365px;
  }
}

@media screen and (max-width: 575px) {
  .header__bg {
    min-height: 250px;
  }
  .header__li {
    margin-right: 20px;
  }
  .header__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 416px) {
  .header__ul {
    flex-direction: column;
  }
  .header__li {
    margin-right: 0;
    margin-bottom: 6px;
  }
  .header__link {
    font-size: 17px;
  }
}

@media screen and (max-width: 380px) {
  .header__title {
    max-width: 195px;
    font-size: 27px;
  }
}

@media screen and (max-width: 360px) {
  .hero__title {
    font-size: 55px;
  }
  .hero__wrap-text {
    margin-left: 15px;
  }
}

@media screen and (max-width: 1350px) {
  .about__wrap-title {
    padding-left: 75px;
  }
}

@media screen and (max-width: 1260px) {
  .about__wrap-title {
    padding-left: 35px;
  }
}

@media screen and (max-width: 1200px) {
  .about__wrap-title {
    padding-left: 25px;
    padding-right: 35px;
    // margin-right: 20px;
  }
}

@media screen and (max-width: 1330px) {
  .about__bottom-subtitle-1, .about__bottom-subtitle-2 {
    max-width: 200px;
  }
}

@media screen and (max-width: 920px) {
  .about__content-top {
    flex-direction: column;
    justify-content: none;
  }
  .about__wrap-title {
    margin-bottom: 45px;
  }
  .about__wrap-text {
    // text-align: center;
    // padding-right: 20px;
    // padding-left: 20px;
    margin: 0 auto;
    width: 464px;
  }
}

@media screen and (max-width: 667px) {
  .about__wrap-text {
    max-width: 320px;
  }
}

@media screen and (max-width: 475px) {
  .about__wrap-text {
    max-width: 250px;
  }
  .about__title-size {
    font-size: 40px;
  }
  .about__subtitle {
    font-size: 50px;
  }
}

@media screen and (max-width: 405px) {
  .about__wrap-text {
    max-width: 230px;
  }
}

@media screen and (max-width: 340px ) {
  .about__wrap-text {
    max-width: 190px;
  }
}

@media screen and (max-width: 290px ) {
  .about__wrap-text {
    max-width: 190px;
  }
  .about__title-size {
    font-size: 34px;
  }
  .about__title {
    font-size: 26px;
  }
  .about__subtitle {
    font-size: 43px;
  }
}

@media screen and (max-width: 920px) {
  .about__content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
  .about__bottom-box {
    margin-bottom: 70px;
  }
}



// MEDIA FOR PROJECTS (SWIPER)

@media screen and (max-width: 1200px) {
  .projects__slide {
    min-height: 190px;
  }
}

@media screen and (max-width: 865px) {
  .projects__slide {
    min-height: 155px;
  }
}

@media screen and (max-width: 760px) {
  .projects__slide {
    min-height: 120px;
  }
}

@media screen and (max-width: 720px) {
  .projects__title {
    font-size: 20px;
  }
  .projects__size {
    font-size: 30px;
  }
  .projects__wrap-title {
    padding-left: 20px;
  }
  .projects-swiper-pagination {
    padding-left: 20px;
    font-size: 12.5px;
  }
}

// media for projects (swiper) - end