.contact__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact__map {
  width: 42%;
  height: 684px;
}

.contact__wrap-form {
  background-color: #2046B3;
  padding-bottom: 44px;
  width: 58%;
}

.contact__title {
  padding-top: 50px;
  padding-left: 100px;
  font-size: 30px;
  margin-bottom: 18px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  max-width: 387px;
  // border: 1px solid red;
  margin-bottom: 60px;
}

.contact-form__input-wrap {
  margin-bottom: 18px;
}

.contact-form__wrap-row {
  display: flex;
  flex-direction: row;
}

.contact-form__wrap__input-row {
  margin-right: 47px;
}

.contact-form__wrap__input-row:last-child {
  margin-right: 0;
}

.contact-form__input {
  color: #fff;
  width: 100% !important;
  background: transparent;
  border: unset;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 0; 
}

.contact-form__input::placeholder {
  color: #fff;
}

.contact-form__input:focus {
  border: unset;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 0; 
  border: 1.5px solid #C5C5C5;
}

.contact-form__input {
  border: 1.5px solid #C5C5C5;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 5px;
}

textarea {
  resize: none;
}

.contact-form__massage {
  height: 48px !important;
}

.contact-form__send {
  border: unset;
  outline: none;
  box-shadow: none;
  background: transparent;
  width: unset !important;
  
  background-color: $primary;
  padding: 11px 35px;
}

.contact-form__send {
  transition: 0.3s;
}

.contact-form__send:hover {
  cursor: pointer;
  color: #fff;
}

.contact-form__info {
  margin-left: 100px;
}

.contact-form__title {
  color: #fff;
  height: 15px;
  font-weight: 400;
}

.contact-form__title-margin {
  display: inline-block;
  margin-bottom: 25px;
}

.contact-form__info-wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
}

.contact-form__info-wrap:last-child {
  margin-bottom: 0;
}

.contact-form__address {
  color: #c5c5c5;
  font-size: 13px;
  font-weight: 400;
}

.contact-form__title-pad-1 {
  padding-right: 25px;
}

.contact-form__title-pad-2 {
  padding-right: 35px;
}

.contact-form__title-pad-3 {
  padding-right: 45px;
}

.contact-form__wrap-social {
  // display: inline-block;
  // width: auto;
  // border-top: 1px solid #C5C5C5;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.contact-form__wrap-social a {
  margin-right: 15px;
}