.hero__bg {
  width: 100%;
  min-height: 780px;
  background: url("../img/header-hero/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.hero__title {
  font-size: 202px;
  font-weight: 700;
  font-family: sans-serif;
  letter-spacing: -3px;
}